@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@include keyframes(color-animate) {
    0% {
        //yellow
        border-color: rgba(252, 238, 33, 1);
        color: rgba(0, 75, 255, 1);
    }

    33% {
        //red
        border-color: rgba(255, 69, 0, 1);
        color: rgba(252, 238, 33, 1);

    }

    66% {
        //blue
        border-color: rgba(0, 75, 255, 1);
        color: rgba(255, 69, 0, 1);

    }

    100% {
        //yellow
        border-color: rgba(252, 238, 33, 1);
        color: rgba(0, 75, 255, 1);
    }
}

.border-animate, .border-animate * a {
  @include animation('color-animate 5s infinite');
}

*::selection {
  // @include animation('color-animate 5s infinite');
}
